.nebula-core {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.1448 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.1448 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.1448 0 0);
  --primary: oklch(0.4566 0.3098 265.7710);
  --primary-foreground: oklch(0.9832 0.0068 247.8942);
  --secondary: oklch(0.5371 0.2785 289.7441);
  --secondary-foreground: oklch(0.9832 0.0068 247.8942);
  --muted: oklch(0.9665 0.0137 247.9690);
  --muted-foreground: oklch(0.5438 0.0815 257.4353);
  --accent: oklch(0.9299 0.0334 272.7879);
  --accent-foreground: oklch(0.3407 0.2281 265.8271);
  --destructive: oklch(0.6496 0.2362 26.9032);
  --destructive-foreground: oklch(0.9832 0.0068 247.8942);
  --border: oklch(0.9237 0.0253 255.5629);
  --input: oklch(0.9237 0.0253 255.5629);
  --ring: oklch(0.4566 0.3098 265.7710);
  --chart-1: oklch(0.4566 0.3098 265.7710);
  --chart-2: oklch(0.5034 0.2933 285.0153);
  --chart-3: oklch(0.5371 0.2785 289.7441);
  --chart-4: oklch(0.7014 0.1730 293.2216);
  --chart-5: oklch(0.8075 0.1070 293.5187);
  --sidebar: oklch(0.9832 0.0068 247.8942);
  --sidebar-foreground: oklch(0.1448 0 0);
  --sidebar-primary: oklch(0.4566 0.3098 265.7710);
  --sidebar-primary-foreground: oklch(0.9832 0.0068 247.8942);
  --sidebar-accent: oklch(0.9299 0.0334 272.7879);
  --sidebar-accent-foreground: oklch(0.3407 0.2281 265.8271);
  --sidebar-border: oklch(0.9237 0.0253 255.5629);
  --sidebar-ring: oklch(0.4566 0.3098 265.7710);
  --font-sans: Electrolize, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Michroma, ui-sans-serif, sans-serif, system-ui;
  --font-mono: "Monaspace Krypton", "Monaspace Krypton NF", "Space Mono", ui-monospace, monospace;
  --radius: 2.1rem;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 12px;
  --shadow-spread: 1px;
  --shadow-opacity: 0.45;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 0px 12px 1px hsl(0 0% 10.1961% / 0.23);
  --shadow-xs: 0px 0px 12px 1px hsl(0 0% 10.1961% / 0.23);
  --shadow-sm: 0px 0px 12px 1px hsl(0 0% 10.1961% / 0.45), 0px 1px 2px 0px hsl(0 0% 10.1961% / 0.45);
  --shadow: 0px 0px 12px 1px hsl(0 0% 10.1961% / 0.45), 0px 1px 2px 0px hsl(0 0% 10.1961% / 0.45);
  --shadow-md: 0px 0px 12px 1px hsl(0 0% 10.1961% / 0.45), 0px 2px 4px 0px hsl(0 0% 10.1961% / 0.45);
  --shadow-lg: 0px 0px 12px 1px hsl(0 0% 10.1961% / 0.45), 0px 4px 6px 0px hsl(0 0% 10.1961% / 0.45);
  --shadow-xl: 0px 0px 12px 1px hsl(0 0% 10.1961% / 0.45), 0px 8px 10px 0px hsl(0 0% 10.1961% / 0.45);
  --shadow-2xl: 0px 0px 12px 1px hsl(0 0% 10.1961% / 1.13);
  --tracking-normal: 0.075em;
  --spacing: 0.25rem;
}

.dark .nebula-core,
.nebula-core.dark {
  --background: oklch(0.1448 0 0);
  --foreground: oklch(0.8690 0.0220 252.8940);
  --card: oklch(0.1278 0.0652 308.2878);
  --card-foreground: oklch(0.9290 0.0130 255.5080);
  --popover: oklch(0 0 0);
  --popover-foreground: oklch(0.8871 0.1828 166.5465);
  --primary: oklch(0.5038 0.2937 285.3753);
  --primary-foreground: oklch(0.9290 0.0130 255.5080);
  --secondary: oklch(0.3451 0.2089 279.9220);
  --secondary-foreground: oklch(0.9290 0.0130 255.5080);
  --muted: oklch(0.1888 0.1055 292.0750);
  --muted-foreground: oklch(0.7040 0.0400 256.7880);
  --accent: oklch(0.3451 0.2089 279.9220);
  --accent-foreground: oklch(0.9325 0.0337 285.7280);
  --destructive: oklch(0 0 0);
  --destructive-foreground: oklch(0.6664 0.2950 322.0800);
  --border: oklch(0.3451 0.2089 279.9220);
  --input: oklch(0.1888 0.1055 292.0750);
  --ring: oklch(0.8654 0.1475 204.0222);
  --chart-1: oklch(0.8871 0.1828 166.5465);
  --chart-2: oklch(0.5597 0.2956 301.9121);
  --chart-3: oklch(0.3451 0.2089 279.9220);
  --chart-4: oklch(0.8654 0.1475 204.0222);
  --chart-5: oklch(0.5038 0.2937 285.3753);
  --sidebar: oklch(0.1448 0 0);
  --sidebar-foreground: oklch(0.8690 0.0220 252.8940);
  --sidebar-primary: oklch(0.5038 0.2937 285.3753);
  --sidebar-primary-foreground: oklch(0.9290 0.0130 255.5080);
  --sidebar-accent: oklch(0.3451 0.2089 279.9220);
  --sidebar-accent-foreground: oklch(0.9325 0.0337 285.7280);
  --sidebar-border: oklch(0.3451 0.2089 279.9220);
  --sidebar-ring: oklch(0.8654 0.1475 204.0222);
  --font-sans: Electrolize, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Michroma, ui-sans-serif, sans-serif, system-ui;
  --font-mono: "Monaspace Krypton", "Monaspace Krypton NF", "Space Mono", ui-monospace, monospace;
  --radius: 2.1rem;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 12px;
  --shadow-spread: 1px;
  --shadow-opacity: 0.45;
  --shadow-color: #3200a0;
  --shadow-2xs: 0px 0px 12px 1px hsl(258.7500 100% 31.3725% / 0.23);
  --shadow-xs: 0px 0px 12px 1px hsl(258.7500 100% 31.3725% / 0.23);
  --shadow-sm: 0px 0px 12px 1px hsl(258.7500 100% 31.3725% / 0.45), 0px 1px 2px 0px hsl(258.7500 100% 31.3725% / 0.45);
  --shadow: 0px 0px 12px 1px hsl(258.7500 100% 31.3725% / 0.45), 0px 1px 2px 0px hsl(258.7500 100% 31.3725% / 0.45);
  --shadow-md: 0px 0px 12px 1px hsl(258.7500 100% 31.3725% / 0.45), 0px 2px 4px 0px hsl(258.7500 100% 31.3725% / 0.45);
  --shadow-lg: 0px 0px 12px 1px hsl(258.7500 100% 31.3725% / 0.45), 0px 4px 6px 0px hsl(258.7500 100% 31.3725% / 0.45);
  --shadow-xl: 0px 0px 12px 1px hsl(258.7500 100% 31.3725% / 0.45), 0px 8px 10px 0px hsl(258.7500 100% 31.3725% / 0.45);
  --shadow-2xl: 0px 0px 12px 1px hsl(258.7500 100% 31.3725% / 1.13);
}
