# Portainer control-plane (orchestrator)
PORTAINER_PORT=9443
PORTAINER_HTTP_PORT=9000
PORTAINER_AGENT_PORT=9001
PORTAINER_PUBLIC_URL=https://portainer.ratehunter.net
PORTAINER_ADMIN_USERNAME=admin
PORTAINER_ADMIN_PASSWORD=REPLACE_ME_PORTAINER_ADMIN_PASSWORD
PORTAINER_EDGE_ID=REPLACE_ME_PORTAINER_EDGE_ID
PORTAINER_EDGE_KEY=REPLACE_ME_PORTAINER_EDGE_KEY
PORTAINER_EDGE_INSECURE_POLL=1
