DOMAIN=ratehunter.net
METAMCP_PORT=12008
OPENWEBUI_PORT=3000
LOBEBOT_PORT=3210
FLOWISE_PORT=3002
N8N_PORT=5678
CADDY_HTTP_PORT=8080
REDIS_PASSWORD=nyra_redis_pw
POSTGRES_USER=nyra
POSTGRES_PASSWORD=nyra_pass_ChangeMe
POSTGRES_DB=nyra
LITELLM_PORT=4000
M15R7_LAN_IP=192.168.1.168
RTX3090TI_LAN_IP=192.168.1.50
AREA51_LAN_IP=192.168.1.60
