# Home Assistant Green dashboard companion
HOMEASSISTANT_IP=100.64.0.20
HOMEPAGE_PORT=3007
PORTAINER_URL=https://portainer.ratehunter.net
ARCHON_URL=https://archon.ratehunter.net
WEBAPP_URL=https://app.ratehunter.net
LANDING_URL=https://ratehunter.net
GRAFANA_URL=https://grafana.ratehunter.net
NEXUS_URL=http://100.64.0.1:7000
