:root,
[data-nyra-theme="apotheosis"] {
  --background: oklch(0.1448 0 0);
  --foreground: oklch(0.9325 0.0337 285.728);
  --card: oklch(0.1278 0.0652 308.2878);
  --card-foreground: oklch(0.9325 0.0337 285.728);
  --primary: oklch(0.5038 0.2937 285.3753);
  --primary-foreground: oklch(0.9325 0.0337 285.728);
  --secondary: oklch(0.3451 0.2089 279.922);
  --secondary-foreground: oklch(0.8653 0.1475 204.0171);
  --muted: oklch(0.1888 0.1055 292.075);
  --muted-foreground: oklch(0.7196 0.0665 289.5968);
  --accent: oklch(0.3451 0.2089 279.922);
  --accent-foreground: oklch(0.8871 0.1828 166.5465);
  --destructive: oklch(0.5597 0.2956 301.9121);
  --destructive-foreground: oklch(0.9325 0.0337 285.728);
  --border: oklch(0.3451 0.2089 279.922);
  --input: oklch(0.1888 0.1055 292.075);
  --ring: oklch(0.8871 0.1828 166.5465);
}
