PAPERCLIP_IMAGE=ghcr.io/paperclipai/paperclip:latest
PAPERCLIP_HOST_PORT=3111
PAPERCLIP_DB_USER=paperclip
PAPERCLIP_DB_PASSWORD=replace-me
PAPERCLIP_DB_NAME=paperclip
PAPERCLIP_SESSION_SECRET=replace-with-32-plus-random-bytes
PAPERCLIP_PUBLIC_URL=https://paperclip.ratehunter.net
PAPERCLIP_AUTH_DISABLE_SIGN_UP=true

SEARXNG_HOST_PORT=8082
SEARXNG_BASE_URL=https://search.ratehunter.net
SEARXNG_SECRET=replace-with-32-plus-random-bytes
SEARXNG_UWSGI_WORKERS=4
SEARXNG_UWSGI_THREADS=4

BROWSERLESS_TOKEN=replace-with-32-plus-random-bytes
BROWSERLESS_HOST_PORT=3004
BROWSERLESS_CONCURRENT=6
BROWSERLESS_QUEUED=24
BROWSERLESS_TIMEOUT_MS=90000
BROWSERLESS_PREBOOT_CHROME=true
BROWSERLESS_KEEP_ALIVE=true
