@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: oklch(1.0000 0 0);
    --foreground: oklch(0.1448 0 0);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.1448 0 0);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.1448 0 0);
    --primary: oklch(0.2046 0 0);
    --primary-foreground: oklch(0.9851 0 0);
    --secondary: oklch(0.9702 0 0);
    --secondary-foreground: oklch(0.2046 0 0);
    --muted: oklch(0.9702 0 0);
    --muted-foreground: oklch(0.5555 0 0);
    --accent: oklch(0.9702 0 0);
    --accent-foreground: oklch(0.2046 0 0);
    --destructive: oklch(0.5830 0.2387 28.4765);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.9219 0 0);
    --input: oklch(0.9219 0 0);
    --ring: oklch(0.7090 0 0);
    --chart-1: oklch(0.8088 0.0991 251.7533);
    --chart-2: oklch(0.6207 0.1894 259.9358);
    --chart-3: oklch(0.5495 0.2202 263.0917);
    --chart-4: oklch(0.4893 0.2202 264.0405);
    --chart-5: oklch(0.4210 0.1792 266.0094);
    --sidebar: oklch(0.9851 0 0);
    --sidebar-foreground: oklch(0.1448 0 0);
    --sidebar-primary: oklch(0.2046 0 0);
    --sidebar-primary-foreground: oklch(0.9851 0 0);
    --sidebar-accent: oklch(0.9702 0 0);
    --sidebar-accent-foreground: oklch(0.2046 0 0);
    --sidebar-border: oklch(0.9219 0 0);
    --sidebar-ring: oklch(0.7090 0 0);
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
      'Courier New', monospace;
    --radius: 0.625rem;
    --shadow-x: 2px;
    --shadow-y: 3px;
    --shadow-blur: 5px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.12;
    --shadow-color: hsl(28 13% 20%);
    --shadow-2xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
    --shadow-xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
    --shadow-sm: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 1px 2px -1px hsl(28 13% 20% / 0.12);
    --shadow: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 1px 2px -1px hsl(28 13% 20% / 0.12);
    --shadow-md: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 2px 4px -1px hsl(28 13% 20% / 0.12);
    --shadow-lg: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 4px 6px -1px hsl(28 13% 20% / 0.12);
    --shadow-xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 8px 10px -1px hsl(28 13% 20% / 0.12);
    --shadow-2xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.30);
    --spacing: 0.25rem;
  }

  .dark {
    --background: oklch(0.1448 0 0);
    --foreground: oklch(0.9851 0 0);
    --card: oklch(0.2046 0 0);
    --card-foreground: oklch(0.9851 0 0);
    --popover: oklch(0.2686 0 0);
    --popover-foreground: oklch(0.9851 0 0);
    --primary: oklch(0.5834 0.2305 277.0676);
    --primary-foreground: oklch(0.1448 0 0);
    --secondary: oklch(0.3715 0 0);
    --secondary-foreground: oklch(0.9851 0 0);
    --muted: oklch(0.2686 0 0);
    --muted-foreground: oklch(0.7090 0 0);
    --accent: oklch(0.5102 0.2618 276.9361);
    --accent-foreground: oklch(0.9851 0 0);
    --destructive: oklch(0.7022 0.1892 22.2279);
    --destructive-foreground: oklch(0.9851 0 0);
    --border: oklch(0.2768 0 0);
    --input: oklch(0.3250 0 0);
    --ring: oklch(0.5555 0 0);
    --chart-1: oklch(0.7833 0.1100 274.4737);
    --chart-2: oklch(0.6696 0.1767 276.9495);
    --chart-3: oklch(0.5834 0.2305 277.0676);
    --chart-4: oklch(0.5102 0.2618 276.9361);
    --chart-5: oklch(0.4562 0.2396 276.9318);
    --sidebar: oklch(0.2046 0 0);
    --sidebar-foreground: oklch(0.9851 0 0);
    --sidebar-primary: oklch(0.5102 0.2618 276.9361);
    --sidebar-primary-foreground: oklch(0.9851 0 0);
    --sidebar-accent: oklch(0.2686 0 0);
    --sidebar-accent-foreground: oklch(0.9851 0 0);
    --sidebar-border: oklch(0.2768 0 0);
    --sidebar-ring: oklch(0.4386 0 0);
    --shadow-x: 2px;
    --shadow-y: 3px;
    --shadow-blur: 5px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.12;
    --shadow-color: hsl(28 13% 20%);
    --shadow-2xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
    --shadow-xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
    --shadow-sm: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 1px 2px -1px hsl(28 13% 20% / 0.12);
    --shadow: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 1px 2px -1px hsl(28 13% 20% / 0.12);
    --shadow-md: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 2px 4px -1px hsl(28 13% 20% / 0.12);
    --shadow-lg: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 4px 6px -1px hsl(28 13% 20% / 0.12);
    --shadow-xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 8px 10px -1px hsl(28 13% 20% / 0.12);
    --shadow-2xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.30);
  }
}

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

@layer utilities {
  .animation-delay-200 {
    animation-delay: 200ms;
  }
  .animation-delay-400 {
    animation-delay: 400ms;
  }
}
