@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.1448 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.1448 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.1448 0 0);
  --primary: oklch(0.4566 0.3098 265.7710);
  --primary-foreground: oklch(0.9832 0.0068 247.8942);
  --secondary: oklch(0.5371 0.2785 289.7441);
  --secondary-foreground: oklch(0.9832 0.0068 247.8942);
  --muted: oklch(0.9665 0.0137 247.9690);
  --muted-foreground: oklch(0.5438 0.0815 257.4353);
  --accent: oklch(0.9299 0.0334 272.7879);
  --accent-foreground: oklch(0.3407 0.2281 265.8271);
  --destructive: oklch(0.6496 0.2362 26.9032);
  --destructive-foreground: oklch(0.9832 0.0068 247.8942);
  --border: oklch(0.9237 0.0253 255.5629);
  --input: oklch(0.9237 0.0253 255.5629);
  --ring: oklch(0.4566 0.3098 265.7710);
  --chart-1: oklch(0.4566 0.3098 265.7710);
  --chart-2: oklch(0.5034 0.2933 285.0153);
  --chart-3: oklch(0.5371 0.2785 289.7441);
  --chart-4: oklch(0.7014 0.1730 293.2216);
  --chart-5: oklch(0.8075 0.1070 293.5187);
  --sidebar: oklch(0.9832 0.0068 247.8942);
  --sidebar-foreground: oklch(0.1448 0 0);
  --sidebar-primary: oklch(0.4566 0.3098 265.7710);
  --sidebar-primary-foreground: oklch(0.9832 0.0068 247.8942);
  --sidebar-accent: oklch(0.9299 0.0334 272.7879);
  --sidebar-accent-foreground: oklch(0.3407 0.2281 265.8271);
  --sidebar-border: oklch(0.9237 0.0253 255.5629);
  --sidebar-ring: oklch(0.4566 0.3098 265.7710);
  --font-sans: Electrolize, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Michroma, ui-sans-serif, sans-serif, system-ui;
  --font-mono: Space Mono, ui-monospace, monospace;
  --radius: 3.14rem;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 10px;
  --shadow-spread: -2px;
  --shadow-opacity: 0.3;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 0px 10px -2px hsl(0 0% 10.1961% / 0.15);
  --shadow-xs: 0px 0px 10px -2px hsl(0 0% 10.1961% / 0.15);
  --shadow-sm: 0px 0px 10px -2px hsl(0 0% 10.1961% / 0.30), 0px 1px 2px -3px hsl(0 0% 10.1961% / 0.30);
  --shadow: 0px 0px 10px -2px hsl(0 0% 10.1961% / 0.30), 0px 1px 2px -3px hsl(0 0% 10.1961% / 0.30);
  --shadow-md: 0px 0px 10px -2px hsl(0 0% 10.1961% / 0.30), 0px 2px 4px -3px hsl(0 0% 10.1961% / 0.30);
  --shadow-lg: 0px 0px 10px -2px hsl(0 0% 10.1961% / 0.30), 0px 4px 6px -3px hsl(0 0% 10.1961% / 0.30);
  --shadow-xl: 0px 0px 10px -2px hsl(0 0% 10.1961% / 0.30), 0px 8px 10px -3px hsl(0 0% 10.1961% / 0.30);
  --shadow-2xl: 0px 0px 10px -2px hsl(0 0% 10.1961% / 0.75);
  --tracking-normal: 0.075em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1448 0 0);
  --foreground: oklch(0.8871 0.1828 166.5465);
  --card: oklch(0.1278 0.0652 308.2878);
  --card-foreground: oklch(0.8871 0.1828 166.5465);
  --popover: oklch(0 0 0);
  --popover-foreground: oklch(0.8871 0.1828 166.5465);
  --primary: oklch(0.5038 0.2937 285.3753);
  --primary-foreground: oklch(0.8871 0.1828 166.5465);
  --secondary: oklch(0.3451 0.2089 279.9220);
  --secondary-foreground: oklch(0.8653 0.1475 204.0171);
  --muted: oklch(0.1888 0.1055 292.0750);
  --muted-foreground: oklch(0.8653 0.1475 204.0171);
  --accent: oklch(0.3451 0.2089 279.9220);
  --accent-foreground: oklch(0.8653 0.1475 204.0171);
  --destructive: oklch(0 0 0);
  --destructive-foreground: oklch(0.6670 0.2950 322.1500);
  --border: oklch(0.3451 0.2089 279.9220);
  --input: oklch(0.1888 0.1055 292.0750);
  --ring: oklch(0.8871 0.1828 166.5465);
  --chart-1: oklch(0.8871 0.1828 166.5465);
  --chart-2: oklch(0.5597 0.2956 301.9121);
  --chart-3: oklch(0.3451 0.2089 279.9220);
  --chart-4: oklch(0.8653 0.1475 204.0171);
  --chart-5: oklch(0.5038 0.2937 285.3753);
  --sidebar: oklch(0.1448 0 0);
  --sidebar-foreground: oklch(0.8871 0.1828 166.5465);
  --sidebar-primary: oklch(0.5038 0.2937 285.3753);
  --sidebar-primary-foreground: oklch(0.8653 0.1475 204.0171);
  --sidebar-accent: oklch(0.3451 0.2089 279.9220);
  --sidebar-accent-foreground: oklch(0.8871 0.1828 166.5465);
  --sidebar-border: oklch(0.3451 0.2089 279.9220);
  --sidebar-ring: oklch(0.8871 0.1828 166.5465);
  --font-sans: Electrolize, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Michroma, ui-sans-serif, sans-serif, system-ui;
  --font-mono: Space Mono, ui-monospace, monospace;
  --radius: 3.14rem;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 10px;
  --shadow-spread: -2px;
  --shadow-opacity: 0.3;
  --shadow-color: oklch(0.828 0.111 230.318);
  --shadow-2xs: 0px 0px 10px -2px hsl(199.1009 103.1238% 73.0814% / 0.15);
  --shadow-xs: 0px 0px 10px -2px hsl(199.1009 103.1238% 73.0814% / 0.15);
  --shadow-sm: 0px 0px 10px -2px hsl(199.1009 103.1238% 73.0814% / 0.30), 0px 1px 2px -3px hsl(199.1009 103.1238% 73.0814% / 0.30);
  --shadow: 0px 0px 10px -2px hsl(199.1009 103.1238% 73.0814% / 0.30), 0px 1px 2px -3px hsl(199.1009 103.1238% 73.0814% / 0.30);
  --shadow-md: 0px 0px 10px -2px hsl(199.1009 103.1238% 73.0814% / 0.30), 0px 2px 4px -3px hsl(199.1009 103.1238% 73.0814% / 0.30);
  --shadow-lg: 0px 0px 10px -2px hsl(199.1009 103.1238% 73.0814% / 0.30), 0px 4px 6px -3px hsl(199.1009 103.1238% 73.0814% / 0.30);
  --shadow-xl: 0px 0px 10px -2px hsl(199.1009 103.1238% 73.0814% / 0.30), 0px 8px 10px -3px hsl(199.1009 103.1238% 73.0814% / 0.30);
  --shadow-2xl: 0px 0px 10px -2px hsl(199.1009 103.1238% 73.0814% / 0.75);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}
