NEXUS_UI_SETTINGS_PATH=./config/nexus-ui.settings.json
NEXUS_BASE_URL=http://oracle.trex-fiordland.ts.net:6000
LITELLM_BASE_URL=http://oracle.trex-fiordland.ts.net:4000
LITELLM_MASTER_KEY=
NEXUS_CONFIG_APPLY_ENABLED=false
NEXUS_DEPLOY_TARGET=oracle-vps
NEXT_PUBLIC_WEBAPP_URL=https://app.projectnyra.com
